html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgba(96, 185, 226, 0.767);
  }
}

/* Active menue item */
.active {
  color: #0282bf;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 7px;
}

/* Phone country code picker styles */
.PhoneInput {
  margin-bottom: 1rem;
}

.PhoneInputInput {
  border: 1px solid gray;
  padding: 0.4rem 1rem;
  border-radius: 5px;
}
.PhoneInputInput:focus {
  outline: none;
  border: 2px solid #0282bf;
}

.PhoneInputCountryIcon {
  width: 3rem !important;
  height: 2.1rem !important;
}

.iframe {
  width: fit-content;
  min-height: 25rem;
}
